{% extends "layout.html" %}
{% block content %}
<div class="about-sec">
    <h1>About us</h1>
    <p>Tech With Nikhil was founded out of passion to bring together codes from all over the world
        of life to discuss issues which are faces by the freshers.</p>
    <hr>
    <p> The founder Nikhil Sharma has over 5 years of expertise in software development and
        is also a Teaching experince of working professionals. With the challenges as freshers faces, 
        he ralised that there is need to learn basic concepts of python from zero to hero.
        </p>
</div>
<div class="events">
    <h1>Events</h1>
    <h3>Code for everyone</h3>
    <p> In the comming days I will come with more topics on python and flask web development.
        That will be as job oriented programm for each and everyone who is very curious to became a software developer </p>
    <p>
        <li> DATE: 30/june/2021,Nikhil Sharma, free of cost</li>
    </p>
    <hr>
    <h3>Developers Experience </h3>
    <p>Come have the best experince as software developer. I will share some experince that faces as a freshers. 
        <li> DATE: 2/July/2021, Nikhil Sharma</li>
    </p>
</div>
{% endblock content %}

{% block content1 %}
{%  include "course/left-bar-admin.html" %}
{% endblock content1 %}