{% extends "layout.html" %}
{% block content %}
<div class="col-sm-12 align-items-center py-3 c-course-head aos-init aos-animate" style="background:#e7e7e7" data-aos="fade-right" data-aos-duration="1000">
    <div class="c-course-details">
        <div class="col-md-5">
            <img class="img-fluid" src="{{ url_for('static', filename='course_img/django.jpg')}}"  alt="Python Programming">
        </div>
        <div class="col-md-7 py-2">
            <h3>Django Framework</h3>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Request a call back</button>
        </div>
<div>
     <hr>
    <h4 class="text-danger">Course Description:</h4>
    <hr>
    <p>
Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of web development, so you can focus on writing your app without needing to reinvent the wheel. It’s free and open source.    </p>
    <br>
    <h4> INTRODUCTION TO FRONT END </h4><hr>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        <li>Bootstrap</li>
    </ul>
    <br>
    <h4>INTRODUCTION TO DJANGO</h4><hr>
    <ul>
        <li>Features of Django</li>
        <li>Django web server</li>
        <li>Understanding Django environment</li>
        <li>A simple ‘Hello world’ application</li>
    </ul>
    <br>
    <h4>DISPLAYING HYPERLINKS - PROJECT</h4><hr>
    <ul>
        <li>Django architecture</li>
        <li>MVC and MTV</li>
        <li>Starting a project</li>
        <li>Django apps</li>
        <li>Activating our first app</li>
        <li>A view that displays a hyperlink</li>
        <li>Mapping the views to URLs</li>
        <li>Running our first app</li>
        <li>Improving the views using templates</li>
        <li>The improved templates</li>
        <li>Template inheritance</li>
        <li>Sending data from url to view</li>
        <li>Sending data from view to template</li>
    </ul>
    <br>
    <h4>CREATING A WEBSITE - PROJECT</h4><hr>
    <ul>
        <li>Starting a project</li>
        <li>Creating an app inside the project</li>
        <li>Activating the app</li>
        <li>Creating model for our site</li>
        <li>Converting the model into a table</li>
        <li>Examples for Fields in Models</li>
        <li>Basic data access using Django shell</li>
        <li>Saving objects into database</li>
        <li>Retrieving objects from database</li>
        <li>Modifying objects of database</li>
        <li>Sorting objects</li>
        <li>Filtering objects</li>
        <li>Deleting objects</li>
        <li>Making changes in the data model</li>
    </ul>
    <br>
    <h4>CREATING ADMINISTRATION PANEL</h4><hr>
    <ul>
        <li>Using the admin interface</li>
        <li>Customizing the admin interface</li>
        <li>Adding users</li>
        <li>Data access and modification using admin panel</li>
        <li>Giving permissions to users</li>
    </ul>
    <br>
    <h4>CREATING FIRST PAGE OF OUR SITE</h4><hr>
    <ul>
        <li>The Django template system</li>
        <li>Template Inheritance</li>
        <li>Improving the website</li>
        <li>Adding background color for web pages</li>
        <li>Adding banner to the web site</li>
        <li>Adding background image in the web pages</li>
        <li>Storing and displaying images</li>
        <li>Adding users to our site</li>
        <li>Uploading the information by user</li>
        <li>Changing the administration interface title</li>
    </ul>
    <br>
    <h4>DJANGO FORMS CREATION</h4><hr>
    <ul>
        <li>Forms basics</li>
        <li>Creating Contact Us form</li>
        <li>Form field examples</li>

    </ul>
    <br>
    <h4>DJANGO's EMAIL FUNCTIONALITY</h4><hr>
    <ul>
        <li>Configuring email settings</li>
        <li>Sending emails with Django</li>
    </ul>
    <br>
    <h4> DJANGO TEMPLATE LANGUAGE</h4><hr>
    <ul>
        <li>Django template tags</li>
        <li>If/else</li>
        <li>If/elif/else</li>
        <li>For</li>
        <li>Comments</li>
        <li>Filters</li>
        <li>Using templates to display data in the site</li>
    </ul>
    <br>
    <h4>INTEGRATING BOOTSTRAP INTO DJANGO</h4><hr>
    <ul>
        <li>Introduction to Bootstrap</li>
        <li>Creating tables</li>
        <li>Creating grids</li>
        <li>Creating carousels</li>
    </ul>
    <br>
    <h4> SESSIONS AND COOKIES</h4><hr>
    <ul>
        <li>Difference between session and cookie</li>
        <li>Creating sessions and cookies in Django</li>
    </ul>
    <br>
    <h4>USING OTHER DATABASES IN DJANGO</h4><hr>
    <ul>
        <li>Using SQLite</li>
        <li>Configuring MySQL database</li>
        <li>Working with MySQL in Django</li>
        <li>Configuring Oracle database</li>
        <li>Working with Oracle in Django</li>
    </ul>
    <br>
    <h4>DJANGO RESTful API</h4><hr>
    <ul>
        <li>CRUD operations</li>
    </ul>
    <br>
    <h4>LIVE PROJECT IMPLEMENTATION</h4><hr>
    <ul>
        <li>Project life cycle</li>
        <li>Creating a functional website in Django</li>

    </ul>
    <br>
</div>
</div>
</div>
{% include "course/inquery.html" %}

{% endblock content %}