{% extends "layout.html" %}
{% block content %}
<div class="col-sm-12 align-items-center py-3 c-course-head aos-init aos-animate" style="background:#e7e7e7" data-aos="fade-right" data-aos-duration="1000">
    <div class="c-course-details">
        <div class="col-md-5">
            <img class="img-fluid" src="{{ url_for('static', filename='course_img/flask-logo.png')}}"  alt="Python Programming">
        </div>
        <div class="col-md-7 py-2">
            <h3>Flask Framework</h3>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Request a call back</button>
        </div>
<div>
     <hr>
    <h4 class="text-danger">Course Description:</h4>
    <hr>
    <p>
Flask is a web framework, it’s a Python module that lets you develop web applications easily. It’s has a small and easy-to-extend core: it’s a microframework that doesn’t include an ORM (Object Relational Manager) or such features.

It does have many cool features like url routing, template engine. It is a WSGI web app framework.    </p>
    <br>
    <h4>Python Overview </h4><hr>
    <ul>
        <li>What is Python</li>
        <li>Overview of Python with Flask</li>
        <li>History of Python</li>
        <li>Features of Python</li>
        <li>Versions of Python</li>
        <li>Applications of Python</li>
        <li>Scripting vs Programming Language</li>
        <li>Interactive Mode vs Script Mode</li>
        <li>Installing Python</li>
        <li>Writing First Python Program</li>
        <li>Executing First Python Program using Interactive Mode</li>
        <li>Executing First Python Program using Script Mode</li>
    </ul>
    <br>
    <h4>Download and install Python (Windows Platform)</h4><hr>
    <ul>
        <li>Install and configure in Windows Platform</li>
        <li>Add to System path</li>
        <li>Working on Python Terminal</li>
        <li>Install PIP</li>
    </ul>
    <br>
    <h4>Basic of PYTHON Programming</h4><hr>
    <ul>
        <li>Difference between Docker Swarm and Kubernetes Orchestration</li>
        <li>First step to coding</li>
        <li>Variable and Assignments</li>
        <li>Built-in Data Structures</li>
        <li>Lists and its methods</li>
        <li>Tuple and its methods</li>
        <li>List Vs Tuple</li>
        <li>Set, Dictionary and string</li>
        <li>Slicing</li>
    </ul>
    <br>
    <h4>Python control flows and arguments</h4><hr>
    <ul>
        <li>If, elif, else, for</li>
        <li>Break, continue</li>
        <li>Default Arguments, Keyword Arguments and Lambda Expressions</li>
        <li>List Comprehensions</li>
        <li>Python Functions</li>
        <li>Python Modules</li>
        <li>Python Packages</li>
        <li>List Comprehensions</li>
        <li>Filter, map and reduce Functions</li>
    </ul>
    <br>
    <h4>Python Programming</h4><hr>
    <ul>
        <li>Inheritance</li>
        <li>Class</li>
        <li>Objects</li>
        <li>Magic functions</li>
        <li>Generators</li>
        <li>Iterators</li>
    </ul>
    <br>
    <h4>Flask WEB Development</h4><hr>
    <ul>
        <li>What is Flask</li>
        <li>WSGI</li>
        <li>Werkzeug</li>
        <li>Jinja2</li>
    </ul>
    <br>
    <h4>Installation and Environment setup</h4><hr>
    <ul>
        <li>Prerequisite</li>
        <li>Install Flask on windows</li>
        <li>Code Structure of flask framework</li>
        <li>In- Built Server of flask</li>
        <li>Add to System path</li>
        <li>Configure in IDE</li>
    </ul>
    <br>
    <h4>Create Basic Flask Applications</h4><hr>
    <ul>
        <li>How a Flask App Works</li>
        <li>Initialization</li>
        <li>Routing and View Functions</li>
        <li>Server Startup</li>
        <li>Basic App Demo</li>
    </ul>
    <br>
    <h4>Templates</h4><hr>
    <br>
    <ul>
        <li>Jinja2 template Engine</li>
        <li>Rendering Templates</li>
        <li>Variables</li>
        <li>Control Structures</li>
        <li>Flask-Bootstrap</li>
        <li>Custom Error Pages</li>
        <li>Creating HTML Templates</li>
        <li>Adding more HTML pages</li>
        <li>Links</li>
        <li>Static files</li>
        <li>Localization of Dates and Time with Flask-Moment</li>
    </ul>
    <br>
    <h4>Web forms</h4><hr>
    <ul>
        <li>CSRF Protection</li>
        <li>Form classes</li>
        <li>HTML rendering of Forms</li>
        <li>Form handling in View Functions</li>
        <li>Redirect and User Sessions</li>
        <li>Message Flashing</li>
    </ul>
    <br>
    <h4>Databases</h4><hr>
    <ul>
        <li>SQL or NoSQL</li>
        <li>Flask-SQLAlchemy</li>
        <li>Model Definition</li>
        <li>Relationships</li>
        <li>CRUD Operations</li>
        <li>Creating Tables</li>
        <li>Inserting Rows</li>
        <li>Modifying Rows</li>
        <li>Deleting Rows</li>
        <li>Querying Rows</li>
        <li>Database use in View function</li>
        <li>Flask-Migrate</li>
    </ul>
    <br>
    <h4>Project Work</h4>
    <br>
</div>
</div>
</div>
{% include "course/inquery.html" %}

{% endblock content %}