{% extends "layout.html" %}
{% block content %}
<div class="col-sm-12 align-items-center py-3 c-course-head aos-init aos-animate" style="background:#e7e7e7" data-aos="fade-right" data-aos-duration="1000">
    <div class="c-course-details">
        <div class="col-md-5">
            <img class="img-fluid" src="{{ url_for('static', filename='course_img/ml.jpg')}}"  alt="Python Programming">
        </div>
        <div class="col-md-7 py-2">
            <h3>Machine Learning</h3>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Request a call back</button>
        </div>
<div>
     <hr>
    <h4 class="text-danger">Course Description:</h4>
    <hr>
    <p>
A data structure is a particular way of organizing data in a computer so that it can be used effectively.
    </p>
    <br>
    <h4>1)	Introduction to Data Structure and Algorithm </h4><hr>
    <ul>
        <li>Introduction</li>
        <ul>Background analysis through a Program and its functions.</ul>
        <li>Order of Growth</li>
        <ul>A mathematical explanation of the growth analysis through limits and functions.</ul>
        <ul>A direct way of calculating the order of growth</ul>
        <li>Asymptotic Notations</li>
        <ul>Best, Average and Worst case explanation through a program.</ul>
        <li>Big O Notation</li>
        <ul>Graphical and mathematical explanation</ul>
        <ul>Calculation</ul>
        <ul>Applications at Linear Search</ul>
        <li>Omega Notation</li>
        <ul>Graphical and mathematical explanation</ul>
        <ul>Calculation.</ul>
        <li>Theta Notation</li>
        <ul>Graphical and mathematical explanation</ul>
        <ul>Calculation.</ul>
        <li>Analysis of common loops</li>
        <ul>Single, multiple and nested loops</ul>
        <li>Analysis of Recursion</li>
        <ul>Various calculations through Recursion Tree method</ul>
        <li>Space Complexity</li>
        <ul>Basic Programs</ul>
        <ul>Auxiliary Space</ul>
        <ul>Space Analysis of Recursion</ul>
        <ul>Space Analysis of Fibonacci number</ul>
        <li>Practice Problems</li>
        <ul>Too many practice problems for the Students which are considered important and must-do as far as Data Structure and Algorithm is concerned</ul>
    </ul>
    <br>
    <h4>2)	Mathematics</h4><hr>
    <ul>
        <li>Mathematics</li>
        <ul>Count Digits</ul>
        <ul>Palindrome Numbers</ul>
        <ul>Factorial of Numbers</ul>
        <ul>GCD of Two Numbers</ul>
        <ul>LCM of Two Numbers</ul>
        <ul>Check for Prime</ul>
        <ul>Sieve of Eratosthenese</ul>
        <ul>Computing Power</ul>
        <li>Practice Problems</li>
        <ul>Too many practice problems for the Students which are considered important and must-do as far as Data Structure and Algorithm is concerned</ul>
    </ul>
    <br>
    <h4>3)	Bit Magic</h4><hr>
    <ul>
        <li>Bitwise Operators in Python</li>
        <ul>Operation of AND, OR, XOR operators</ul>
        <ul>Operation of Left Shift, Right Shift and Bitwise Not</ul>
        <li>Problem: Check Kth bit is set or not</li>
        <ul>Method 1: Using the left Shift</ul>
        <ul>Method 2: Using the right shift</ul>
        <li>Problem: Count Set Bits</li>
        <ul>Method 1: Simple method</ul>
        <ul>Method 2: Brian and Kerningham Algorithm</ul>
        <ul>Method 3: Using Lookup Table</ul>
        <li>Problems:</li>
        <ul>To check whether a number is a power of 2 or not</ul>
        <ul>Odd occurrences in an array</ul>
        <ul>Two numbers having odd occurrences in an array.</ul>
        <ul>Generate power set using bitwise operators.</ul>
        <li>Practice Problems</li>
        <ul>Too many practice problems for the Students which are considered important and must-do as far as Data Structure and Algorithm is concerned</ul>

    </ul>
    <br>
    <h4>4)	Recursion</h4><hr>
    <ul>
        <li>Introduction to Recursion</li>
        <li>Applications of Recursion</li>
        <li>Writing base cases in Recursion</li>
        <li>Various problems on Recursion(With Video Solutions)</li>
        <ul>Print n to 1</ul>
        <ul>Print 1 to n</ul>
        <ul>Tail Recursion</ul>
        <ul>Checking Palindrome</ul>
        <ul>Sum of digits</ul>
        <ul>Rod cutting</ul>
        <ul>Subsets of a set</ul>
        <ul>Tower of Hanoi Problem</ul>
        <ul>Josephus Problem</ul>
        <li>Practice Problems</li>
        <ul>Too many practice problems for the Students which are considered important and must-do as far as Data Structure and Algorithm is concerned</ul>
    </ul>
    <br>
    <h4>5)	Arrays</h4><hr>
    <ul>
        <li>Introduction and Advantages</li>
        <li>Types of Arrays</li>
        <ul>Fixed-sized array</ul>
        <ul>Dynamic-sized array</ul>
        <li>Operations on Arrays</li>
        <ul>Searching</ul>
        <ul>Searching</ul>
        <ul>Deletion</ul>
        <ul>Arrays vs other DS</ul>
        <ul>Reversing - Explanation with complexity</ul>
        <li>Problems</li>
        <ul>Left Rotation of the array by 1</ul>
        <ul>Check if Sorted</ul>
        <ul>Left Rotation of the array by D places</ul>
        <ul>Leaders in an Array</ul>
        <ul>Maximum Difference Problem</ul>
        <ul>Frequencies in Sorted Array</ul>
        <ul>Stock Buy and Sell Problem</ul>
        <ul>Trapping Rainwater Problem</ul>
        <ul>Maximum Consecutive 1s</ul>
        <ul>Maximum Subarray Sum</ul>
        <ul>Longest Even-Odd Subarray</ul>
        <ul>Maximum Circular sum subarray.</ul>
        <ul>Majority Element</ul>
        <ul>Minimum Consecutive Flips</ul>
        <ul>Sliding Window Technique</ul>
        <ul>Prefix Sum Technique</ul>
        <li>Practice Problems</li>
        <ul>Too many practice problems for the Students which are considered important and must-do as far as Data Structure and Algorithm is concerned</ul>

    </ul>
    <br>
    <h4>6)	Searching</h4><hr>
    <ul>
        <li>Binary Search Iterative and Recursive</li>
        <li>Binary Search and various associated problems</li>
        <ul>Index of First Occurence in Sorted Array</ul>
        <ul>Index of Last Occurence in Sorted Array</ul>
        <ul>Count of occurrences of x in sorted element</ul>
        <ul>Count of 1s in a binary sorted array</ul>
        <ul>Find an element in sorted and rotated array</ul>
        <ul>Peak element</ul>
        <ul>Find an element in an infinite sized sorted array</ul>
        <ul>The square root of an integer</ul>
        <li>Two Pointer Approach Problems</li>
        <ul>Find pair in an unsorted array which gives sum X</ul>
        <ul>Find pair in a sorted array which gives sum X</ul>
        <ul>Find triplet in an array which gives sum X</ul>
        <li>Problems</li>
        <ul>Median of two sorted arrays</ul>
        <ul>Majority Element</ul>
        <li>Practice Problems</li>
        <ul>Too many practice problems for the Students which are considered important and must-do as far as Data Structure and Algorithm is concerned</ul>
    </ul>
    <br>
    <h4>7)	Sorting</h4><hr>
    <ul>
        <li>Need of modules</li>
        <li>Creating a module and Importing Module</li>
        <li>Different ways of importing</li>
        <li>Working with Built-in Modules like math,sys,os,datetime,random.</li>
        <li>Creating a Package and Using a package</li>
    </ul>
    <br>
    <h4>Object Oriented Programming</h4><hr>
    <ul>
        <li>Procedural vs Object Oriented Programming</li>
        <li>Features of OOP</li>
        <li>Defining a Class</li>
        <li>Variables and Methods in a Class</li>
        <li>Creating Objects</li>
        <li>Constructor</li>
        <li>Instance vs Class Member</li>
        <li>Abstraction, Encapsulation, Inheritance</li>
        <li>Data Hiding</li>
        <li>Polymorphism</li>
        <li>Operator Overloading</li>
        <li>Method Overriding</li>
        <li>Abstract method and class</li>
        <li>Properties</li>
    </ul>
    <br>
    <h4>Python Built-in Data Types</h4><hr>
    <br>
    <h4>Strings</h4><hr>
    <ul>
        <li>Creating Strings </li>
        <li>Strings Immutability</li>
        <li>String Indexing and Slicing</li>
        <li>String Formatting</li>
        <li>String Functions and String Operators</li>
        <li>String Joining and Spliting</li>
    </ul>
    <br>
    <h4>List</h4><hr>
    <ul>
        <li>Creating and Accessing Lists</li>
        <li>List Mutability</li>
        <li>List operators and Methods</li>
        <li>Generating List using range()</li>
        <li>Searching in List</li>
        <li>User defined type List</li>
        <li>Converting String into List</li>
        <li>Converting List into String</li>
        <li>Nested Lists</li>
    </ul>
    <br>
    <h4>Tuples</h4><hr>
    <ul>
        <li>Creating Tuple</li>
        <li>Tuple indexing, slicing and functions</li>
        <li>Tuple operators and Methods</li>
        <li>Nested Tuples</li>
        <li>Converting String and List to Tuple</li>
        <li>Converting Tuple to String and List </li>
    </ul>
    <br>
    <h4>Set</h4><hr>
    <ul>
        <li>Creating a Set</li>
        <li>Normal and frozen Set</li>
        <li>Creating and modify Empty Set</li>
        <li>Add, removing and discarding elements to Set</li>
        <li>Coverting String, List and Tuple to Set</li>
        <li>Coverting Set into String, List and Tuple</li>
    </ul>
    <br>
    <h4>Directory</h4><hr>
    <ul>
        <li>Creating Direvctory and Directory mutabilityr</li>
        <li>Adding and Deleting  keys value pairsr</li>
        <li>Looping through Directoryr</li>
        <li>Extracting only keys and only values  from Directoryr</li>
        <li>Creating Dictionary from List and Tupler</li>
        <li>Dictionary comprehension Iterators, Generators, r</li>
        <li>Decorator</li>
    </ul>
    <br>
    <h4>Exception Handling</h4><hr>
    <ul>
        <li>Errors and Exceptions</li>
        <li>Exception Handling</li>
        <li>Try, Except, Finally</li>
        <li>User-defined Exceptions</li>
    </ul>
    <br>
    <h4>File Handling</h4><hr>
    <ul>
        <li>Creating, Opening and Closing  a File</li>
        <li>Writing and Appending to a File</li>
        <li>seek() and tell() methods</li>
        <li>readline() and readlines() methods</li>
        <li>Working with Characters and Words in file.</li>
        <li>The with Statement</li>
    </ul>
    <br>
    <h4>Database</h4><hr>
    <ul>
        <li>Introduction to Databases</li>
        <li>Creating Database Connections</li>
        <li>Inserting, Fetching, Updating and Deleting data</li>
        <li>Transactions(Commit and Rollback)</li>
        <li>Handling Errors</li>
    </ul>
    <br>
    <h4>GUI Programming</h4><hr>
    <ul>
        <li>Introduction to Tkinter Programming</li>
        <li>Tkinter Widgets (Label, Button, Entry, ComboBox,  </li>
        <li>RadioButton, CheckBox, ListBox, TreeView, Frame)</li>
    </ul>
    <br>
    <h4>Widgets Event Handling</h4><hr>
    <br>
    <h4>Project Work</h4>
    <br>
</div>
</div>
</div>
{% include "course/inquery.html" %}

{% endblock content %}